.dplayer-danmaku {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 22px;
    color: #fff;
    margin: 20px 0px 80px 0px;
    .dplayer-danmaku-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // pointer-events: none;
        // user-select: none;
        cursor: pointer;
        white-space: nowrap;
        text-shadow: .5px .5px .5px rgba(0, 0, 0, .5);
        .dplayer-danmaku-item-text {
            svg {
                margin-left: 3px;
                display: inline-block;
                width: 16px;
                height: 16px;
                path {
                    fill: #FB7431;
                }
            }
            &.none svg {
                fill-opacity: 0;
            }
            &.xs svg {
                fill-opacity: 0.25;
            }
            &.sm svg {
                fill-opacity: 0.5;
            }
            &.md svg {
                fill-opacity: 0.75;
            }
            &.lg svg {
                fill-opacity: 1;
            }

        }
        &--demo {
            position: absolute;
            visibility: hidden;
        }
        .dplayer-danmaku-report {
            opacity: 0;
            width: 64px;
            height: 20px;
            background-color: #333333;
            color: white;
            padding: 2px 0px 0px 4px;
            display: flex;
        }
        &:hover {
            background-color: #333333;
            border-radius: 999px;
            padding: 10px 15px;
            z-index: 100;
            .dplayer-danmaku-item-text svg {
                display: none;
            }
            .dplayer-danmaku-report {
                opacity: 1;
                svg {
                    width: 18px;
                    height: 18px;
                    position: relative;
                }
                svg:nth-child(1) {
                    margin-left: 10px;
                }
                svg:nth-child(2) {
                    margin-left: 15px;
                }
                &::after {
                    content: '+1';
                    position: absolute;
                    top: 0px;
                    right: 48px;
                    color: #FB7431;
                    font-size: 0.875rem;
                    opacity: 0;
                }
            }
            .dplayer-danmaku-report {
                svg:hover path {
                    fill: #3093ff;
                }
            }
        }
        &.iLiked {
            .dplayer-danmaku-item-text {
                svg {
                    fill-opacity: 1!important;
                }
            }
            .dplayer-danmaku-report {
                svg:nth-child(1) path {
                    fill: #FB7431;
                }
                svg:nth-child(1) path {
                    fill: #FB7431;
                }
                &.ani::after {
                    animation: iLike 1000ms forwards;
                }
            }
        }
    }
    @keyframes iLike {
        from {
            opacity: 1;
            transform: translateY(0px);
        }
        to {
            opacity: 0;
            transform: translateY(-10px);
        }
    }
    .dplayer-danmaku-right_to_left {
        position: absolute;
        right: 0;
        transform: translateX(100%);
        &.dplayer-danmaku-move {
            will-change: transform;
            animation: danmaku linear;
            animation-duration: 10s;
            animation-play-state: paused;
        }
    }
    @keyframes danmaku {
        from {
            transform: translateX(100%);
        }
    }
    .dplayer-danmaku-top,
    .dplayer-danmaku-bottom {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        visibility: hidden;
        &.dplayer-danmaku-move {
            will-change: visibility;
            animation: danmaku-center 4s linear;
            animation-play-state: paused;
        }
    }
    @keyframes danmaku-center {
        from {
            visibility: visible;
        }
        to {
            visibility: visible;
        }
    }
}